body {
    background-color: #E1FF61;
    color:#0115FF ;
    font-family: "placa", sans-serif;
font-weight: 400;
font-style: normal;
}

h1 {
    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 0, "wdth" 100;
}
header{
    font-size: 16px;

}
h1{
    width: 100%;
    text-align: center;
    font-size: 18vw;
}
p{
    line-height: 1em;
}
main{
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
}