:root {
    --font-family: "placa", sans-serif;
    --font-title: "bestia-display", sans-serif;
    --accent-color: #000000;
    --background-color: #19191d;
    --color-text: #ffffff;
    --accent-color: #fa29ae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}





body {
    background-color: var(--background-color);
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (max-width:700px) {
    body {
        background-color: rgb(255, 196, 0);
    }
}

img {
    max-width: 100%;
    height: auto;
}

main {
    width: 80%;

}

h1 {
    font-family: var(--font-title);
    font-variation-settings: "SEED" 0, "wdth" 100;
}

header {
    font-size: 16px;

}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
}

p {
    line-height: 1em;
    max-width: 80ch;

}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 2em;
    width: 300px;
    border: 2px solid var(--color-text);
    color: var(--accent-color);
    background-color: var(--accent-color);
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: var(--color-text);
    opacity: 0.8;
}

a:visited {
    color: var(--color-text);
    opacity: 0.8;
}

a:focus {
    color: var(--background-color);
    background-color: var(--background-color);
}

a:active {
    color: var(--color-text);
    opacity: 0.8;
}

/* git pull origin main */

/* Hero Section */

.hero {
    min-height: 100vh;

}

.hero-content h1 {
    line-height: 100%;

    margin-bottom: 2rem;
}

.hero-content p span {
    color: var(--accent-color);
}


/* nav */

.navbar {
    bottom: 0;
    width: 100%;

    padding: 1em 0;
    z-index: 1000;
}

/* tablet */
@media (min-width:768px) {
    body {
        font-size: 1.5rem;
    }

    .hero {
        position: relative;
        flex-direction: row;

    }

    .hero-content {
        max-width: 50%;
        padding: 2em;
    }

    .hero-image-container {
        position: absolute;
        max-width: 50%;
        bottom: 0;
        right: 0;
        z-index: -1;


    }

    .navbar {
        position: fixed;
    }
}

/* desktop */
@media (min-width:1024px) {
    body {
        font-size: 1.7rem;
    }

}